<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328515327299-r9crdp2ipg6il5s7v675iaop6urid437.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328515327299-r9crdp2ipg6il5s7v675iaop6urid437</string>
	<key>API_KEY</key>
	<string>AIzaSyBmqaZYweMdGpN8zdC6_r3wsQk_CrzCf28</string>
	<key>GCM_SENDER_ID</key>
	<string>328515327299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.info.DoyurViper</string>
	<key>PROJECT_ID</key>
	<string>doyur-c908c</string>
	<key>STORAGE_BUCKET</key>
	<string>doyur-c908c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328515327299:ios:80312846667467dda64bf6</string>
</dict>
</plist>